<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>

    <%= erb(:'partials/nav') %>

    <!-- below tells Ruby to bring in everything to this file when requested  -->
    <%= yield %>

    <%= erb(:'partials/footer') %>

  </body>
</html>
